In [54]:
import pandas as pd
import numpy as py

In [50]:
## Creating a path to the csv and read it into a Pandas DataFrame
precovid_ohio = "precovid_ohio2019.csv"
precovid_ohio_df = pd.read_csv(precovid_ohio)
precovid_ohio_df

,business_id,name,state_,city,stars,review_count,is_open,categories,customer_stars,date_
0,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,4.5,16,0,"Juice Bars & Smoothies, Vegan, Food, Restauran...",5,1/20/2019 17:28
1,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,4.5,16,0,"Juice Bars & Smoothies, Vegan, Food, Restauran...",5,2/17/2019 2:45
2,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,4.5,16,0,"Juice Bars & Smoothies, Vegan, Food, Restauran...",5,8/7/2019 19:15
3,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,4.5,16,0,"Juice Bars & Smoothies, Vegan, Food, Restauran...",4,3/3/2019 20:32
4,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,4.5,16,0,"Juice Bars & Smoothies, Vegan, Food, Restauran...",4,5/24/2019 13:33
...,...,...,...,...,...,...,...,...,...,...
5348,FyGavoQ1DdC3ZsjKAfxezA,Zoup!,OH,Columbus,4.0,30,1,"Soup, Salad, Sandwiches, Restaurants",4,3/7/2019 18:25
5349,FyGavoQ1DdC3ZsjKAfxezA,Zoup!,OH,Columbus,4.0,30,1,"Soup, Salad, Sandwiches, Restaurants",4,2/9/2019 21:57
5350,FyGavoQ1DdC3ZsjKAfxezA,Zoup!,OH,Columbus,4.0,30,1,"Soup, Salad, Sandwiches, Restaurants",4,2/2/2019 14:18
5351,IJVqt4PE0QKaqJ2VfBYBZg,Zoup!,OH,Columbus,3.0,19,1,"Sandwiches, Soup, Salad, Restaurants",5,4/16/2019 11:26
5352,IJVqt4PE0QKaqJ2VfBYBZg,Zoup!,OH,Columbus,3.0,19,1,"Sandwiches, Soup, Salad, Restaurants",5,7/3/2019 13:14

In [51]:
# reduce the dataframe to columns that are required
reduced_preohio =precovid_ohio_df[["business_id", "name", "state_", "city", "is_open", "categories"]]
reduced_preohio

,business_id,name,state_,city,is_open,categories
0,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,0,"Juice Bars & Smoothies, Vegan, Food, Restauran..."
1,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,0,"Juice Bars & Smoothies, Vegan, Food, Restauran..."
2,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,0,"Juice Bars & Smoothies, Vegan, Food, Restauran..."
3,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,0,"Juice Bars & Smoothies, Vegan, Food, Restauran..."
4,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,0,"Juice Bars & Smoothies, Vegan, Food, Restauran..."
...,...,...,...,...,...,...
5348,FyGavoQ1DdC3ZsjKAfxezA,Zoup!,OH,Columbus,1,"Soup, Salad, Sandwiches, Restaurants"
5349,FyGavoQ1DdC3ZsjKAfxezA,Zoup!,OH,Columbus,1,"Soup, Salad, Sandwiches, Restaurants"
5350,FyGavoQ1DdC3ZsjKAfxezA,Zoup!,OH,Columbus,1,"Soup, Salad, Sandwiches, Restaurants"
5351,IJVqt4PE0QKaqJ2VfBYBZg,Zoup!,OH,Columbus,1,"Sandwiches, Soup, Salad, Restaurants"
5352,IJVqt4PE0QKaqJ2VfBYBZg,Zoup!,OH,Columbus,1,"Sandwiches, Soup, Salad, Restaurants"

In [52]:
# Drop the rows that do not contain business ID
red_preohio = reduced_preohio[reduced_preohio["business_id"] != "#NAME?"]
red_preohio

,business_id,name,state_,city,is_open,categories
0,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,0,"Juice Bars & Smoothies, Vegan, Food, Restauran..."
1,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,0,"Juice Bars & Smoothies, Vegan, Food, Restauran..."
2,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,0,"Juice Bars & Smoothies, Vegan, Food, Restauran..."
3,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,0,"Juice Bars & Smoothies, Vegan, Food, Restauran..."
4,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,0,"Juice Bars & Smoothies, Vegan, Food, Restauran..."
...,...,...,...,...,...,...
5348,FyGavoQ1DdC3ZsjKAfxezA,Zoup!,OH,Columbus,1,"Soup, Salad, Sandwiches, Restaurants"
5349,FyGavoQ1DdC3ZsjKAfxezA,Zoup!,OH,Columbus,1,"Soup, Salad, Sandwiches, Restaurants"
5350,FyGavoQ1DdC3ZsjKAfxezA,Zoup!,OH,Columbus,1,"Soup, Salad, Sandwiches, Restaurants"
5351,IJVqt4PE0QKaqJ2VfBYBZg,Zoup!,OH,Columbus,1,"Sandwiches, Soup, Salad, Restaurants"
5352,IJVqt4PE0QKaqJ2VfBYBZg,Zoup!,OH,Columbus,1,"Sandwiches, Soup, Salad, Restaurants"

In [53]:
# Remove the duplicate business IDs
clean_preohio = red_preohio.drop_duplicates()
clean_preohio

,business_id,name,state_,city,is_open,categories
0,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,0,"Juice Bars & Smoothies, Vegan, Food, Restauran..."
6,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,1,"Gastropubs, Breakfast & Brunch, American (New)..."
73,n3sEf5PqRFHoJ_8TCynRPg,A Matter of Steak,OH,Hilliard,1,"Sandwiches, Steakhouses, Cheesesteaks, Restaur..."
74,6zMk-He0XhowQu2p5pdtBg,Abner's Casual Dining,OH,Hilliard,1,"Restaurants, American (Traditional)"
79,IDlvMzb_9Prxzz2LK0Ww1Q,Adobe Gilas,OH,Columbus,1,"Mexican, Restaurants"
...,...,...,...,...,...,...
5319,J8BnOx3rJ9oO78KtF0K5OQ,Yoshi's Japanese Restaurant,OH,Dublin,1,"Restaurants, Japanese, Sushi Bars"
5328,97q11wWWFqku1SOHZJx6gA,Zest Juice,OH,Columbus,1,"Food, Acai Bowls, Juice Bars & Smoothies, Vege..."
5330,NWjoZB068Mg18lYTI3AS2A,Ziggy's,OH,Pataskala,1,"Restaurants, Sports Bars, Bars, Nightlife, Ame..."
5336,FyGavoQ1DdC3ZsjKAfxezA,Zoup!,OH,Columbus,1,"Soup, Salad, Sandwiches, Restaurants"
5351,IJVqt4PE0QKaqJ2VfBYBZg,Zoup!,OH,Columbus,1,"Sandwiches, Soup, Salad, Restaurants"

In [2]:
## Creating a path to the csv and read it into a Pandas DataFrame
postcovid_ohio = "postcovid_ohio2020.csv"
postcovid_ohio_df = pd.read_csv(postcovid_ohio)
postcovid_ohio_df

,business_id,name,state_,city,stars,review_count,is_open,categories,customer_stars,date_
0,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",4,5/2/2020 21:57
1,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",4,8/2/2020 0:14
2,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",5,8/23/2020 17:40
3,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",4,5/12/2020 18:38
4,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,4.5,318,1,"Gastropubs, Breakfast & Brunch, American (New)...",5,1/26/2020 21:19
...,...,...,...,...,...,...,...,...,...,...
19928,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,4.0,52,1,"Sandwiches, Pizza, Chicken Wings, Restaurants",5,12/12/2020 1:33
19929,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,4.0,52,1,"Sandwiches, Pizza, Chicken Wings, Restaurants",5,3/8/2020 20:03
19930,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,4.0,52,1,"Sandwiches, Pizza, Chicken Wings, Restaurants",5,11/17/2020 2:24
19931,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,4.0,52,1,"Sandwiches, Pizza, Chicken Wings, Restaurants",5,12/23/2020 22:11
19932,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,4.0,52,1,"Sandwiches, Pizza, Chicken Wings, Restaurants",5,2/6/2020 18:44

In [27]:
# reduce the dataframe to columns that are required
reduced_postohio =postcovid_ohio_df[["business_id", "name", "state_", "city", "is_open", "categories"]]
reduced_postohio

,business_id,name,state_,city,is_open,categories
0,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,1,"Gastropubs, Breakfast & Brunch, American (New)..."
1,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,1,"Gastropubs, Breakfast & Brunch, American (New)..."
2,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,1,"Gastropubs, Breakfast & Brunch, American (New)..."
3,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,1,"Gastropubs, Breakfast & Brunch, American (New)..."
4,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,1,"Gastropubs, Breakfast & Brunch, American (New)..."
...,...,...,...,...,...,...
19928,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,1,"Sandwiches, Pizza, Chicken Wings, Restaurants"
19929,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,1,"Sandwiches, Pizza, Chicken Wings, Restaurants"
19930,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,1,"Sandwiches, Pizza, Chicken Wings, Restaurants"
19931,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,1,"Sandwiches, Pizza, Chicken Wings, Restaurants"
19932,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,1,"Sandwiches, Pizza, Chicken Wings, Restaurants"

In [55]:
# Drop the rows that do not contain business ID
red_postohio = reduced_postohio[reduced_postohio["business_id"] != "#NAME?"]
red_postohio

,business_id,name,state_,city,is_open,categories
0,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,1,"Gastropubs, Breakfast & Brunch, American (New)..."
1,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,1,"Gastropubs, Breakfast & Brunch, American (New)..."
2,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,1,"Gastropubs, Breakfast & Brunch, American (New)..."
3,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,1,"Gastropubs, Breakfast & Brunch, American (New)..."
4,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,1,"Gastropubs, Breakfast & Brunch, American (New)..."
...,...,...,...,...,...,...
19928,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,1,"Sandwiches, Pizza, Chicken Wings, Restaurants"
19929,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,1,"Sandwiches, Pizza, Chicken Wings, Restaurants"
19930,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,1,"Sandwiches, Pizza, Chicken Wings, Restaurants"
19931,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,1,"Sandwiches, Pizza, Chicken Wings, Restaurants"
19932,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,1,"Sandwiches, Pizza, Chicken Wings, Restaurants"

In [40]:
# Remove the duplicate business IDs
clean_postohio = red_postohio.drop_duplicates()
clean_postohio

,business_id,name,state_,city,is_open,categories
0,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,1,"Gastropubs, Breakfast & Brunch, American (New)..."
35,fh-Guneo3jPLadG5rSsOWA,101 Beer Kitchen,OH,Gahanna,1,"American (New), Breakfast & Brunch, Food, Beer..."
71,wCeUZf1sv5zu5dEU3a2tWg,101 Beer Kitchen,OH,Dublin,1,"Beer, Wine & Spirits, Restaurants, Breakfast &..."
110,uTMksZ_1M8hoZb1l1q7vcQ,12 West,OH,Delaware,1,"Restaurants, Mexican"
117,XccJRhKG8zmdv8GUbE5RCg,14 Twenty Bar and Pizza,OH,Columbus,1,"Bars, Nightlife, American (Traditional), Pubs,..."
...,...,...,...,...,...,...
19910,Ko8iUGC-O9pMRnkV7TbCTA,Zoup!,OH,Westerville,1,"Salad, Sandwiches, Restaurants, Soup"
19912,fdIOgrUeeUWXSLd6RGlh9A,Zoup!,OH,Columbus,1,"Restaurants, Salad, Sandwiches, Soup"
19917,5fLgut04TxZ0zTs_oR8aqQ,Zoup!,OH,Columbus,1,"Salad, Restaurants, Soup, Sandwiches"
19919,n-MgG7TotpCGwz47bMN2dQ,Z's Asian Bistro,OH,Columbus,1,"Asian Fusion, Chinese, Thai, Restaurants, Japa..."
19922,wdkK-cgkYHvS8tp12uwjBQ,Zuko's Pizza,OH,Hilliard,1,"Sandwiches, Pizza, Chicken Wings, Restaurants"

In [3]:
## Creating a path to the csv and read it into a Pandas DataFrame
precovid_texas = "precovid_texas2019.csv"
precovid_texas_df = pd.read_csv(precovid_texas)
precovid_texas_df

,business_id,name,state_,city,stars,review_count,is_open,categories,customer_stars,date_
0,FwO183blfDg8g6sFv-NTsQ,15th Street Cafe,TX,Austin,3.5,9,1,"Restaurants, Hotels & Travel, Event Planning &...",4,7/23/2019 18:54
1,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,5.0,641,1,"Food, Breakfast & Brunch, Thai, Restaurants, D...",5,12/23/2019 0:53
2,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,5.0,641,1,"Food, Breakfast & Brunch, Thai, Restaurants, D...",5,10/27/2019 15:03
3,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,5.0,641,1,"Food, Breakfast & Brunch, Thai, Restaurants, D...",5,10/13/2019 20:54
4,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,5.0,641,1,"Food, Breakfast & Brunch, Thai, Restaurants, D...",5,12/8/2019 4:48
...,...,...,...,...,...,...,...,...,...,...
17079,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/30/2019 0:59
17080,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/18/2019 23:19
17081,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/30/2019 23:53
17082,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/28/2019 20:31
17083,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/21/2019 17:09

In [43]:
# reduce the dataframe to columns that are required
reduced_pretexas =precovid_texas_df[["business_id", "name", "state_", "city", "is_open", "categories"]]
reduced_pretexas

,business_id,name,state_,city,is_open,categories
0,FwO183blfDg8g6sFv-NTsQ,15th Street Cafe,TX,Austin,1,"Restaurants, Hotels & Travel, Event Planning &..."
1,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,1,"Food, Breakfast & Brunch, Thai, Restaurants, D..."
2,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,1,"Food, Breakfast & Brunch, Thai, Restaurants, D..."
3,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,1,"Food, Breakfast & Brunch, Thai, Restaurants, D..."
4,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,1,"Food, Breakfast & Brunch, Thai, Restaurants, D..."
...,...,...,...,...,...,...
17079,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"
17080,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"
17081,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"
17082,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"
17083,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"

In [45]:
# Drop the rows that do not contain business ID
red_pretexas = reduced_pretexas[reduced_pretexas["business_id"] != "#NAME?"]
red_pretexas

,business_id,name,state_,city,is_open,categories
0,FwO183blfDg8g6sFv-NTsQ,15th Street Cafe,TX,Austin,1,"Restaurants, Hotels & Travel, Event Planning &..."
1,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,1,"Food, Breakfast & Brunch, Thai, Restaurants, D..."
2,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,1,"Food, Breakfast & Brunch, Thai, Restaurants, D..."
3,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,1,"Food, Breakfast & Brunch, Thai, Restaurants, D..."
4,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,1,"Food, Breakfast & Brunch, Thai, Restaurants, D..."
...,...,...,...,...,...,...
17079,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"
17080,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"
17081,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"
17082,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"
17083,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"

In [46]:
# Remove the duplicate business IDs
clean_pretexas = red_pretexas.drop_duplicates()
clean_pretexas

,business_id,name,state_,city,is_open,categories
0,FwO183blfDg8g6sFv-NTsQ,15th Street Cafe,TX,Austin,1,"Restaurants, Hotels & Travel, Event Planning &..."
1,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,1,"Food, Breakfast & Brunch, Thai, Restaurants, D..."
158,3sAFxULUcjyPzj3G7YPwiA,3 Train Pizzeria,TX,Austin,0,"Restaurants, Pizza"
160,ff9xAuZ3-9iljMexfkf3yA,34th Street Cafe,TX,Austin,1,"Event Planning & Services, Caterers, Restauran..."
165,cXPM7gRVNhAVBk_QGE4Nmg,360 Pizza,TX,Austin,0,"Sandwiches, Desserts, Beer, Wine & Spirits, Re..."
...,...,...,...,...,...,...
17047,fQ4-MQu9PH66Wol8wKR_tQ,Yanagi,TX,Austin,1,"Japanese, Sushi Bars, Restaurants"
17061,Pkp824mx2LL93TqKOdfMyQ,Yoree Korean Cuisine,TX,Austin,1,"Korean, Restaurants, Soup, Seafood"
17066,KAv9I6DKsMCDZveyLEiBoA,Zaviya Grill,TX,Austin,1,"Vegetarian, Restaurants, Halal, Buffets, India..."
17075,Ist18QqY3lFq-_wDzj3WyA,zpizza,TX,Austin,0,"Vegan, Pizza, Gluten-Free, Restaurants, Medite..."
17076,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"

In [4]:
## Creating a path to the csv and read it into a Pandas DataFrame
postcovid_texas = "postcovid_texas2020.csv"
postcovid_texas_df = pd.read_csv(postcovid_texas,encoding='latin-1')
postcovid_texas_df

,business_id,name,state_,city,stars,review_count,is_open,categories,customer_stars,date_
0,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,4.0,256,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F...",3,7/16/2020 4:36
1,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,4.0,256,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F...",3,1/23/2020 16:50
2,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,4.0,256,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F...",5,5/12/2020 23:50
3,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,4.0,256,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F...",5,5/7/2020 21:34
4,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,4.0,256,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F...",5,8/5/2020 21:21
...,...,...,...,...,...,...,...,...,...,...
46575,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",3,8/21/2020 22:58
46576,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,5/4/2020 23:38
46577,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,7/4/2020 21:37
46578,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,1/31/2020 20:38
46579,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,4.5,63,1,"Gluten-Free, Pizza, Restaurants, Salad",5,12/5/2020 14:27

In [47]:
# reduce the dataframe to columns that are required
reduced_posttexas =postcovid_texas_df[["business_id", "name", "state_", "city", "is_open", "categories"]]
reduced_posttexas

,business_id,name,state_,city,is_open,categories
0,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F..."
1,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F..."
2,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F..."
3,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F..."
4,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F..."
...,...,...,...,...,...,...
46575,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"
46576,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"
46577,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"
46578,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"
46579,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"

In [48]:
# Drop the rows that do not contain business ID
red_posttexas = reduced_posttexas[reduced_posttexas["business_id"] != "#NAME?"]
red_posttexas

,business_id,name,state_,city,is_open,categories
0,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F..."
1,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F..."
2,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F..."
3,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F..."
4,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F..."
...,...,...,...,...,...,...
46575,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"
46576,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"
46577,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"
46578,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"
46579,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"

In [86]:
# Remove the duplicate business IDs
clean_posttexas = red_posttexas.drop_duplicates()
clean_posttexas

,business_id,name,state_,city,is_open,categories
0,6uSPLo9R0vxtJxPIhsMSMg,101 By Teahaus,TX,Austin,1,"Bubble Tea, Restaurants, Coffee & Tea, Asian F..."
63,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,1,"Food, Breakfast & Brunch, Thai, Restaurants, D..."
522,cmFvz2m5NIyq9PAo4-qCGA,1776 Cheesesteak,TX,Austin,1,"Cheesesteaks, Sandwiches, Restaurants, Food, A..."
537,hpAOH8cmY5WHjnl8jGQ1dA,1886 Cafe & Bakery,TX,Austin,1,"Restaurants, Bakeries, American (Traditional),..."
564,YW8FLZzjRwBo2mYTuE4PYg,20Pho7Austin,TX,Austin,1,"Food, Vietnamese, French, Restaurants, Food Tr..."
...,...,...,...,...,...,...
46458,pp73b2zGEwRbwSgYYvB2Dg,Z'Tejas - Austin 6 STREET,TX,Austin,1,"Tex-Mex, Nightlife, Bars, Restaurants, Mexican"
46483,TFylNfp1RM0NuUQopvsyIA,Z-Tejas Southwestern Grill,TX,Austin,1,"American (New), Tex-Mex, Bars, Restaurants, Me..."
46505,_VcTzv8XUhfanoxiUfqPlQ,Zucchini Kill Bakery,TX,Austin,1,"Food, Vegan, Gluten-Free, Bakeries, Cupcakes, ..."
46527,iFofOanM-8rT21M0SHNjoA,Zuzu Handmade Mexican Food,TX,Austin,1,"Mexican, Caterers, Restaurants, Event Planning..."
46534,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +?Ã¿Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"

In [121]:
merged_texas = pd.merge(clean_pretexas, clean_posttexas, how="outer", on="business_id").fillna(0)
merged_texas["is_open_x"] = merged_texas["is_open_x"].astype('int64')
merged_texas["is_open_y"] = merged_texas["is_open_y"].astype('int64')
merged_texas

,business_id,name_x,state__x,city_x,is_open_x,categories_x,name_y,state__y,city_y,is_open_y,categories_y
0,FwO183blfDg8g6sFv-NTsQ,15th Street Cafe,TX,Austin,1,"Restaurants, Hotels & Travel, Event Planning &...",0,0,0,0,0
1,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,1,"Food, Breakfast & Brunch, Thai, Restaurants, D...",1618 Asian Fusion,TX,Austin,1,"Food, Breakfast & Brunch, Thai, Restaurants, D..."
2,3sAFxULUcjyPzj3G7YPwiA,3 Train Pizzeria,TX,Austin,0,"Restaurants, Pizza",0,0,0,0,0
3,ff9xAuZ3-9iljMexfkf3yA,34th Street Cafe,TX,Austin,1,"Event Planning & Services, Caterers, Restauran...",34th Street Cafe,TX,Austin,1,"Event Planning & Services, Caterers, Restauran..."
4,cXPM7gRVNhAVBk_QGE4Nmg,360 Pizza,TX,Austin,0,"Sandwiches, Desserts, Beer, Wine & Spirits, Re...",360 Pizza,TX,Austin,0,"Sandwiches, Desserts, Beer, Wine & Spirits, Re..."
...,...,...,...,...,...,...,...,...,...,...,...
2984,Un6ARWGLtcoA3vCsVathEA,0,0,0,0,0,Zoes Kitchen,TX,Austin,0,"Restaurants, Mediterranean, Sandwiches, Kebab,..."
2985,pp73b2zGEwRbwSgYYvB2Dg,0,0,0,0,0,Z'Tejas - Austin 6 STREET,TX,Austin,1,"Tex-Mex, Nightlife, Bars, Restaurants, Mexican"
2986,TFylNfp1RM0NuUQopvsyIA,0,0,0,0,0,Z-Tejas Southwestern Grill,TX,Austin,1,"American (New), Tex-Mex, Bars, Restaurants, Me..."
2987,_VcTzv8XUhfanoxiUfqPlQ,0,0,0,0,0,Zucchini Kill Bakery,TX,Austin,1,"Food, Vegan, Gluten-Free, Bakeries, Cupcakes, ..."
2988,iFofOanM-8rT21M0SHNjoA,0,0,0,0,0,Zuzu Handmade Mexican Food,TX,Austin,1,"Mexican, Caterers, Restaurants, Event Planning..."

In [124]:
# Filter restaurants in texas that were open pre covid and are open post covid
prepost_open_texas = merged_texas[(merged_texas["is_open_x"] == 1) & (merged_texas["is_open_y"] == 1)]
prepost_open_texas   
# Observation: 383 restaurants survived during the pandemic

,business_id,name_x,state__x,city_x,is_open_x,categories_x,name_y,state__y,city_y,is_open_y,categories_y
1,Rba9Ol4jnTiov6_iAuoF5g,1618 Asian Fusion,TX,Austin,1,"Food, Breakfast & Brunch, Thai, Restaurants, D...",1618 Asian Fusion,TX,Austin,1,"Food, Breakfast & Brunch, Thai, Restaurants, D..."
3,ff9xAuZ3-9iljMexfkf3yA,34th Street Cafe,TX,Austin,1,"Event Planning & Services, Caterers, Restauran...",34th Street Cafe,TX,Austin,1,"Event Planning & Services, Caterers, Restauran..."
7,knOY5Nt5GlmIxAadPlirvQ,ÃƒÂ±oÃƒÂ±os tacos,TX,Austin,1,"Restaurants, Breakfast & Brunch, Tex-Mex, Mexican",?Ã±o?Ã±os tacos,TX,Austin,1,"Restaurants, Breakfast & Brunch, Tex-Mex, Mexican"
10,PkmsrSoqd6t8iCnNopEsUw,Ah Sing Den,TX,Austin,1,"Bars, Pan Asian, Restaurants, Asian Fusion, Co...",Ah Sing Den,TX,Austin,1,"Bars, Pan Asian, Restaurants, Asian Fusion, Co..."
11,Z5Z3lzVfeuY4RShRdQiTzA,Alta's Cafe,TX,Austin,1,"Wine Bars, Restaurants, Food, Coffee & Tea, Be...",Alta's Cafe,TX,Austin,1,"Wine Bars, Restaurants, Food, Coffee & Tea, Be..."
...,...,...,...,...,...,...,...,...,...,...,...
491,Duo_6gTM6fITah0CwG3s6Q,Yahala Hookah Lounge,TX,Austin,1,"Tobacco Shops, Middle Eastern, Bars, Restauran...",Yahala Hookah Lounge,TX,Austin,1,"Tobacco Shops, Middle Eastern, Bars, Restauran..."
492,fQ4-MQu9PH66Wol8wKR_tQ,Yanagi,TX,Austin,1,"Japanese, Sushi Bars, Restaurants",Yanagi,TX,Austin,1,"Japanese, Sushi Bars, Restaurants"
493,Pkp824mx2LL93TqKOdfMyQ,Yoree Korean Cuisine,TX,Austin,1,"Korean, Restaurants, Soup, Seafood",Yoree Korean Cuisine,TX,Austin,1,"Korean, Restaurants, Soup, Seafood"
494,KAv9I6DKsMCDZveyLEiBoA,Zaviya Grill,TX,Austin,1,"Vegetarian, Restaurants, Halal, Buffets, India...",Zaviya Grill,TX,Austin,1,"Vegetarian, Restaurants, Halal, Buffets, India..."
496,sXgzgNe7YJO1A_86EKUyCw,ZZA Pizza +Ã‚Â Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad",ZZA Pizza +?Ã¿Salad,TX,Bee Cave,1,"Gluten-Free, Pizza, Restaurants, Salad"

In [125]:
prepost_close_texas = merged_texas[(merged_texas["is_open_x"] == 0) & (merged_texas["is_open_y"] == 0)]
prepost_close_texas

,business_id,name_x,state__x,city_x,is_open_x,categories_x,name_y,state__y,city_y,is_open_y,categories_y
2,3sAFxULUcjyPzj3G7YPwiA,3 Train Pizzeria,TX,Austin,0,"Restaurants, Pizza",0,0,0,0,0
4,cXPM7gRVNhAVBk_QGE4Nmg,360 Pizza,TX,Austin,0,"Sandwiches, Desserts, Beer, Wine & Spirits, Re...",360 Pizza,TX,Austin,0,"Sandwiches, Desserts, Beer, Wine & Spirits, Re..."
5,bUzFOiNj1y5xxazKo35CUA,360 Pizza,TX,Rollingwood,0,"Gluten-Free, Pizza, Desserts, Food, Sandwiches...",360 Pizza,TX,Rollingwood,0,"Gluten-Free, Pizza, Desserts, Food, Sandwiches..."
6,YPkzxHKbnTWuvPcwVI7ulw,827 Rays Kitchen + Cellar,TX,Austin,0,"Bars, Nightlife, Seafood, Restaurants, Wine Ba...",0,0,0,0,0
8,0oOZXIRBem6ZK-k-VsTKJw,Afghan Halal,TX,Austin,0,"Restaurants, Afghan, Halal, Mediterranean, Foo...",Afghan Halal,TX,Austin,0,"Restaurants, Afghan, Halal, Mediterranean, Foo..."
...,...,...,...,...,...,...,...,...,...,...,...
2925,CYAkYUjKTycDER_l80qP0Q,0,0,0,0,0,Which Wich Superior Sandwiches,TX,Austin,0,"Restaurants, Event Planning & Services, Fast F..."
2942,_ETfvs2YhQYvpyDRU7_iJQ,0,0,0,0,0,Wings To Go - Austin,TX,Austin,0,"Salad, Chicken Wings, Restaurants"
2976,eO7965WkYeMyA1Z9yoD--A,0,0,0,0,0,Yummy Thai Food,TX,Austin,0,"Thai, Restaurants, Food, Asian Fusion, Food Tr..."
2977,PqdSkcG_kN4OtaFaiRWU_Q,0,0,0,0,0,Yuyo,TX,Austin,0,"Vegetarian, Peruvian, Restaurants, Seafood"
2984,Un6ARWGLtcoA3vCsVathEA,0,0,0,0,0,Zoes Kitchen,TX,Austin,0,"Restaurants, Mediterranean, Sandwiches, Kebab,..."

In [118]:
merged_ohio = pd.merge(clean_preohio, clean_postohio, how="outer", on="business_id").fillna(0)
merged_ohio

,business_id,name_x,state__x,city_x,is_open_x,categories_x,name_y,state__y,city_y,is_open_y,categories_y
0,KPZHg7BGkyhLAZmUTIJnMw,& Juice Co.,OH,Columbus,0.0,"Juice Bars & Smoothies, Vegan, Food, Restauran...",0,0,0,0.0,0
1,JqSL9fNnkwsxQkqGJyHJ2g,101 Beer Kitchen,OH,Westerville,1.0,"Gastropubs, Breakfast & Brunch, American (New)...",101 Beer Kitchen,OH,Westerville,1.0,"Gastropubs, Breakfast & Brunch, American (New)..."
2,n3sEf5PqRFHoJ_8TCynRPg,A Matter of Steak,OH,Hilliard,1.0,"Sandwiches, Steakhouses, Cheesesteaks, Restaur...",A Matter of Steak,OH,Hilliard,1.0,"Sandwiches, Steakhouses, Cheesesteaks, Restaur..."
3,6zMk-He0XhowQu2p5pdtBg,Abner's Casual Dining,OH,Hilliard,1.0,"Restaurants, American (Traditional)",Abner's Casual Dining,OH,Hilliard,1.0,"Restaurants, American (Traditional)"
4,IDlvMzb_9Prxzz2LK0Ww1Q,Adobe Gilas,OH,Columbus,1.0,"Mexican, Restaurants",Adobe Gilas,OH,Columbus,1.0,"Mexican, Restaurants"
...,...,...,...,...,...,...,...,...,...,...,...
2588,Ko8iUGC-O9pMRnkV7TbCTA,0,0,0,0.0,0,Zoup!,OH,Westerville,1.0,"Salad, Sandwiches, Restaurants, Soup"
2589,fdIOgrUeeUWXSLd6RGlh9A,0,0,0,0.0,0,Zoup!,OH,Columbus,1.0,"Restaurants, Salad, Sandwiches, Soup"
2590,5fLgut04TxZ0zTs_oR8aqQ,0,0,0,0.0,0,Zoup!,OH,Columbus,1.0,"Salad, Restaurants, Soup, Sandwiches"
2591,n-MgG7TotpCGwz47bMN2dQ,0,0,0,0.0,0,Z's Asian Bistro,OH,Columbus,1.0,"Asian Fusion, Chinese, Thai, Restaurants, Japa..."
2592,wdkK-cgkYHvS8tp12uwjBQ,0,0,0,0.0,0,Zuko's Pizza,OH,Hilliard,1.0,"Sandwiches, Pizza, Chicken Wings, Restaurants"